.month{
    display:flex;
    flex-direction:column;
  }
.month-body{
    display:flex;
    flex-direction: column;
    margin: 1em;
}
.row{
    display:flex;
    justify-content: space-evenly;
}
.month-body .row{
    border-bottom: 1px solid rgb(191, 192, 204);
}
.month-body .row:last-child{
    border-bottom: 0;
}
.day-name{
    min-width: 190px;
}
.cell{
    width: calc(100%/7);
    height:150px;
}
.row .day:first-child, .day-disabled:first-child, .day-selected:first-child{
    border-left:0;
}
.row .day, .day-disabled, .day-selected{
    border-left:1px solid rgb(191, 192, 204);
} 
.day-disabled{
    color:#767676;
}
.day-selected{
    background-color: rgb(191, 192, 204);
    color: #282c34;
}

.reminder{
    display:flex;
    align-items: center;
    /*font-size: 0.5em;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; */
}
.reminder-color{
    width:5px;
    height:20px;
    /* border-radius: 100%; */
    margin: 0 5px;
}
.reminder-description{
    /* display:flex;
    align-items: center; */
    font-size: 0.5em;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}